<footer class="footer text-light">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 col-sm-6 col-md-3">
                <ul>
                    <li>
                        <a class="brand" href="/">
                            <inlinesvg src="Logo.svg" />
                        </a>
                    </li>
                    <li>&copy; 2020 - Napa Lounge Cafe</li>
                    <li><span class="oi oi-badge"></span> <a asp-area="" asp-page="/Privacy">Privacy</a></li>
                </ul>
            </div>
            <div class="col-12 mt-5 col-sm-6 col-md-3">
                <h5>Socials</h5>
                <table class="table table-borderless text-light">
                    <tr>
                        <td width="1"><span class="oi social facebook"><inlinesvg src="socials/flat-facebook.svg" /></span></td>
                        <td><a href="https://www.facebook.com/napaloungecafe" target="_blank">Facebook</a></td>
                    </tr>
                    <tr>
                        <td><span class="oi social instagram"><inlinesvg src="socials/flat-instagram.svg" /></span></td>
                        <td><a href="https://www.instagram.com/napaloungecafe/" target="_blank">Instagram</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-12 mt-5 col-sm-6 col-md-3">
                <h5>Contacts</h5>
                <table class="table table-borderless text-light">
                    <tr>
                        <td width="1"><span class="oi oi-location"></span></td>
                        <td><span class="text-muted">Indirizzo</span><br /> Via Antonio Lazzari 2, 30174 Venezia VE</td>
                    </tr>
                    <tr>
                        <td><span class="oi oi-phone"></span></td>
                        <td><span class="text-muted">Telefono</span><br /> <a href="tel:+39041959108">041 959108</a></td>
                    </tr>
                    <tr>
                        <td><span class="oi oi-clock"></span></td>
                        <td><span class="text-muted">Orari di apertura</span><br /> Lun-Sab 17:30 - 00:00</td>
                    </tr>
                </table>
            </div>
            <div class="col-12 mt-5 col-sm-6 col-md-3">
                <ul>
                    <li><h5>Navigation</h5></li>
                    <li>
                        <a class="nav-link" href="/#Home">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/#AboutUs">About us</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/Menu">Menu</a>
                    </li>
                    @*<li>
                            <a class="nav-link" asp-area="" asp-page="@Pagelink" asp-fragment="Gallery">Gallery</a>
                        </li>*@
                    <li>
                        <a class="nav-link" href="/#ContactUs">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>