<footer class="footer text-light">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 col-sm-6 col-md-4 col-lg-3 overflow-hidden">
                <ul>
                    <li>
                        <a class="brand" href="/">
                            <inlinesvg src="Logo.svg" />
                        </a>
                    </li>
                    <li><span class="copyright">&copy; 2020 - Napa Lounge Cafe</span></li>
                    <li><span class="oi oi-badge"></span> <a asp-area="" asp-page="/Privacy">Privacy</a></li>
                </ul>
            </div>
            <div class="col-12 mt-5 col-sm-6 col-md-2 col-lg-2 overflow-hidden">
                <h5>Socials</h5>
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-start mb-3">
                        <span class="oi social facebook mr-2"><inlinesvg src="socials/flat-facebook.svg" /></span>
                        <a href="https://www.facebook.com/napaloungecafe" target="_blank">Facebook</a>
                    </div>
                    <div class="d-flex align-items-start mb-3">
                        <span class="oi social instagram mr-2"><inlinesvg src="socials/flat-instagram.svg" /></span>
                        <a href="https://www.instagram.com/napaloungecafe/" target="_blank">Instagram</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 col-sm-6 col-md-6 col-lg-4 overflow-hidden">
                <h5>Contacts</h5>
                <div class="d-flex flex-column text-light">
                    <div class="d-flex align-items-start mb-3">
                        <div class="mr-3"><span class="oi oi-location"></span></div>
                        <div>
                            <span class="text-muted">Indirizzo</span><br />
                            <span>
                                Via Antonio Lazzari 2<br />
                                30174 Venezia VE
                            </span>
                        </div>
                    </div>
                    <div class="d-flex align-items-start mb-3">
                        <div class="mr-3"><span class="oi oi-phone"></span></div>
                        <div><span class="text-muted">Telefono</span><br /> <a href="tel:+39041959108">041 959108</a></div>
                    </div>
                    <div class="d-flex align-items-start mb-3">
                        <div class="mr-3"><span class="oi social whatsapp"><inlinesvg src="socials/flat-whatsapp.svg" /></span></div>
                        <div><span class="text-muted">WhatsApp</span><br /> <a href="https://wa.me/+39041959108" target="_blank">041 959108</a></div>
                    </div>
                    <div class="d-flex align-items-start mb-3">
                        <div class="mr-3"><span class="oi oi-clock"></span></div>
                        <div>
                            <div class="timetable">
                                <div class="text-nowrap text-muted">Orari di apertura</div>
                                <partial name="_Openings" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 col-sm-6 d-md-none d-lg-block col-lg-3 overflow-hidden">
                <h5>Navigation</h5>
                <div class="d-flex flex-column text-light">
                    <a class="mb-2 ml-2" href="/Menu">Menu</a>
                    <a class="mb-2 ml-2" href="#ContactUs">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</footer>