@page
@{
    Layout = "_LayoutFrontEnd";
    ViewData["LightHeader"] = true;
    ViewData["Title"] = "Menu";
}
@section InitBody {
    <div class="background menu">
        <div class="blur"></div>
    </div>
}
@section EndBody {

}
<div class="sub-page" id="FullPage-Menu">

    <div class="container mb-5 pb-5">
        <div class="page-title pb-5">
            <h1 class="display-3 text-light">Menu</h1>
            <p class="text-light">Consulta il nostro menù e scegli cosa ti va di gustare oggi.</p>
        </div>
        <h2 class="display-4 mt-5">Colazioni</h2>
        <div class="row">
            <div class="col-12 col-sm-9 col-md-7">
                <table class="table table-hover small">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Al banco</th>
                            <th>Al tavolo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Caffè</td>
                            <td>1,10</td>
                            <td>1,50</td>
                        </tr>
                        <tr>
                            <td>Macchiato</td>
                            <td>1,10</td>
                            <td>1,50</td>
                        </tr>
                        <tr>
                            <td>Macchiatone</td>
                            <td>1,20</td>
                            <td>1,80</td>
                        </tr>
                        <tr>
                            <td>Cappuccino</td>
                            <td>1,30</td>
                            <td>2,00</td>
                        </tr>
                        <tr>
                            <td>Americano</td>
                            <td>1,10</td>
                            <td>1,50</td>
                        </tr>
                        <tr>
                            <td>Orzo</td>
                            <td>1,30</td>
                            <td>1,50</td>
                        </tr>
                        <tr>
                            <td>Orzo macchiatone</td>
                            <td>1,40</td>
                            <td>1,90</td>
                        </tr>
                        <tr>
                            <td>Orzo cappuccino</td>
                            <td>1,50</td>
                            <td>2,10</td>
                        </tr>
                        <tr>
                            <td>Decaffeinato</td>
                            <td>1,20</td>
                            <td>1,50</td>
                        </tr>
                        <tr>
                            <td>Decaffeinato macchiatone</td>
                            <td>1,30</td>
                            <td>1,80</td>
                        </tr>
                        <tr>
                            <td>Decaffeinato cappuccino</td>
                            <td>1,40</td>
                            <td>2,00</td>
                        </tr>
                        <tr>
                            <td>Ginseng</td>
                            <td>1,30</td>
                            <td>1,50</td>
                        </tr>
                        <tr>
                            <td>Ginseng macchiatone</td>
                            <td>1,40</td>
                            <td>1,90</td>
                        </tr>
                        <tr>
                            <td>Ginseng cappuccino</td>
                            <td>1,50</td>
                            <td>2,10</td>
                        </tr>
                        <tr>
                            <td>Latte macchiato</td>
                            <td>2,50</td>
                            <td>3,00</td>
                        </tr>
                        <tr>
                            <td>The/Tisana</td>
                            <td colspan="2" align="center">3,00</td>
                        </tr>
                        <tr>
                            <td>Succhi di frutta</td>
                            <td colspan="2" align="center">3,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-none d-sm-block col-sm-3 col-md-5 bg-image-cover" style="background:url('/breakfast.jpeg');"></div>
        </div>

        <h2 class="display-4 mt-5">Analcolici</h2>
        <div class="row">
            <div class="d-none d-sm-block col-sm-3 col-md-5 bg-image-cover" style="background:url('/Maracuja.jpg');"></div>
            <div class="col-12 col-sm-9 col-md-7">
                <table class="table table-hover small">
                    <tr><td>Napa <small class="d-block text-muted">succo di arancia, succo di ananas, succo di pompelmo, purea di fragola</small></td><td>5,00€</td></tr>
                    <tr><td>Florida <small class="d-block text-muted">succo di arancia, succo di limone, succo di pomplemo, zucchero liquido, soda</small></td><td>5,00€</td></tr>
                    <tr><td>Passion Fruit <small class="d-block text-muted">succo di arancia, succo di cranberry, frutto della passione</small></td><td>5,00€</td></tr>
                    <tr><td>Virgin Colada <small class="d-block text-muted">ananas, latte di cocco</small></td><td>5,00€</td></tr>
                    <tr><td>Virgin Mojito <small class="d-block text-muted">foglie di menta, lime, zucchero di canna, acqua tonica o lemonsoda</small></td><td>5,00€</td></tr>
                    <tr><td>Gingerino</td><td>3,00€</td></tr>
                    <tr><td>Crodino</td><td>3,00€</td></tr>
                    <tr><td>Campari Soda</td><td>3,00€</td></tr>
                    <tr><td>Sanbitter</td><td>3,00€</td></tr>
                    <tr><td>Sanbitter Passion Fruit</td><td>3,00€</td></tr>
                    <tr><td>Sanbitter Pompelmo</td><td>3,00€</td></tr>
                    <tr><td>sanbitter Zenzero</td><td>3,00€</td></tr>
                    <tr><td>CocaCola</td><td>3,00€</td></tr>
                    <tr><td>CocaCola Zero</td><td>3,00€</td></tr>
                    <tr><td>Schweppes Tonica</td><td>3,00€</td></tr>
                    <tr><td>Schweppes Lemon</td><td>3,00€</td></tr>
                    <tr><td>Schweppes Aranciata</td><td>3,00€</td></tr>
                    <tr><td>Ginger Ale</td><td>3,00€</td></tr>
                    <tr><td>Ginger Beer</td><td>4,00€</td></tr>
                    <tr><td>Chinotto</td><td>3,00€</td></tr>
                    <tr><td>Cedrata Tassoni</td><td>3,00€</td></tr>
                    <tr><td>Thè Pesca</td><td>3,00€</td></tr>
                    <tr><td>Thè Limone</td><td>3,00€</td></tr>
                    <tr><td>RedBull</td><td>4,00€</td></tr>
                    <tr><td>Acqua Naturale/Frizzante</td><td>1,50€</td></tr>
                </table>
            </div>
        </div>

        <h2 class="display-4 mt-5">Aperitivi</h2>
        <div class="row">
            <div class="col-12 col-sm-9 col-md-7">
                <table class="table table-hover small">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Piccola</th>
                            <th>Media</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Spritz Aperol / Campari / Select / Cynar <small class="d-block text-muted">Vino bianco, seltz e bitter a scelta</small></td>
                            <td colspan="2">3,00€</td>
                        </tr>
                        <tr>
                            <td>Hugo <small class="d-block text-muted">liquore al sambuco con menta, lime, vino bianco, seltz</small></td>
                            <td colspan="2">3,00€</td>
                        </tr>
                        <tr>
                            <td>Rossini <small class="d-block text-muted">prosecco, fragola</small></td>
                            <td colspan="2">4,00€</td>
                        </tr>
                        <tr>
                            <td> Bellini <small class="d-block text-muted">prosecco, pesca</small></td>
                            <td colspan="2">4,00€</td>
                        </tr>
                        <tr>
                            <td>Americano <small class="d-block text-muted">martini rosso, campari, angoustura, seltz</small></td>
                            <td colspan="2">5,00€</td>
                        </tr>
                        <tr>
                            <td>Americano con Carpano Classico <small class="d-block text-muted">carpano classico, campari, angoustura, seltz</small></td>
                            <td colspan="2">6,00€</td>
                        </tr>
                        <tr>
                            <td>Americano con Carpano Antica Formula <small class="d-block text-muted">carpano antica formula, campari, angoustura, seltz</small></td>
                            <td colspan="2">7,00€</td>
                        </tr>
                        <tr>
                            <td>Negroni <small class="d-block text-muted">martini rosso, campari, gin</small></td>
                            <td colspan="2">6,00€</td>
                        </tr>
                        <tr>
                            <td>Negroni Sbagliato <small class="d-block text-muted">martini rosso, campari, prosecco</small></td>
                            <td colspan="2">5,00€</td>
                        </tr>
                        <tr>
                            <td>Negroski <small class="d-block text-muted">martini rosso, campari, vodka</small></td>
                            <td colspan="2">6,00€</td>
                        </tr>
                        <tr>
                            <td>Birra alla spina</td>
                            <td>3,00€</td>
                            <td>5,00€</td>
                        </tr>
                        <tr>
                            <td>Birra top spina</td>
                            <td>4,00€</td>
                            <td>6,00€</td>
                        </tr>
                        <tr>
                            <td>Birre in bottiglia 33cl</td>
                            <td colspan="2">4,00€</td>
                        </tr>
                        <tr>
                            <td>Birre top bottiglia 33cl</td>
                            <td colspan="2">6,00€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-none d-sm-block col-sm-3 col-md-5 bg-image-cover" style="background: url('/Americano-taller.jpg');"></div>
        </div>

        <h2 class="display-4 mt-5">Amari e liquori</h2>
        <div class="row">
            <div class="d-none d-sm-block col-sm-3 col-md-5 bg-image-cover" style="background: url('/Amari.jpg');"></div>
            <div class="col-12 col-sm-9 col-md-7">
                <table class="table table-hover small">
                    <tbody>
                        <tr>
                            <td>Montenegro</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Amaretto di Saronno</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Sambuca</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Averna</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Jagermeister</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Fernet Branca</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Branca Menta</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Vecchia Romagna</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Baileys</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Liquirizia</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Limoncello</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Ramazzotti</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Stravecchio</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Amaro Tosolini</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Tequila Bianca</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Tequila Gialla</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Martini Rosso</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Martini Bianco</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Martini Extra Dry</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Grand Marnier</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Cointreau</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Braulio</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Havana 7</td>
                            <td>5,00€</td>
                        </tr>
                        <tr>
                            <td>Pampero Aniversario</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Diplomatico</td>
                            <td>8,00€</td>
                        </tr>
                        <tr>
                            <td>Zacapa 23</td>
                            <td>8,00€</td>
                        </tr>
                        <tr>
                            <td>Lagavulin</td>
                            <td>8,00€</td>
                        </tr>
                        <tr>
                            <td>Laphroaig</td>
                            <td>8,00€</td>
                        </tr>
                        <tr>
                            <td>Talisker</td>
                            <td>8,00€</td>
                        </tr>
                        <tr>
                            <td>Oban</td>
                            <td>8,00€</td>
                        </tr>
                        <tr>
                            <td>Jack Daniel’s</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Marker’s Mark</td>
                            <td>5,00€</td>
                        </tr>
                        <tr>
                            <td>Southern Comfort</td>
                            <td>8,00€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2 class="display-4 mt-5">Bollicine</h2>
        <div class="row">
            <div class="col-12 col-sm-9 col-md-7">
                <table class="table table-hover small">
                    <tbody>
                        <tr>
                            <td>Cà del Bosco Cuvée Prestige</td>
                            <td>7,00€</td>
                        </tr>
                        <tr>
                            <td>Facchetti nature Brut</td>
                            <td>6,00€</td>
                        </tr>
                        <tr>
                            <td>Contadi Castaldi Brut</td>
                            <td>6,00€</td>
                        </tr>
                        <tr>
                            <td>Contadi Castaldi Satèn</td>
                            <td>7,00€</td>
                        </tr>
                        <tr>
                            <td>Contadi Castaldi Rosé</td>
                            <td>6,00€</td>
                        </tr>
                        <tr>
                            <td>Ferrari Perlè</td>
                            <td>7,00€</td>
                        </tr>
                        <tr>
                            <td>Chopin “CARTE VERTE”</td>
                            <td>10,00€</td>
                        </tr>
                        <tr>
                            <td>Chopin “CARTE NOIRE”</td>
                            <td>10,00€</td>
                        </tr>
                        <tr>
                            <td>Monmarthe Brut 1er Cru</td>
                            <td>10,00€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-none d-sm-block col-sm-3 col-md-5 bg-image-cover" style="background: url('/Ca-del-bosco-prestige.jpg');"></div>
        </div>

        <h2 class="display-4 mt-5">Bianchi fermi</h2>
        <div class="row">
            <div class="d-none d-sm-block col-sm-3 col-md-5 bg-image-cover" style="background: url('/vino-bianco-fermo.jpeg');"></div>
            <div class="col-12 col-sm-9 col-md-7">
                <table class="table table-hover small">
                    <tbody>
                        <tr>
                            <td>Lugana Feliciana</td>
                            <td>3,50€</td>
                        </tr>
                        <tr>
                            <td>Gewurztraminer Castel Sallegg</td>
                            <td>3,50€</td>
                        </tr>
                        <tr>
                            <td>Pecorino Chiusa Grande</td>
                            <td>3,50€</td>
                        </tr>
                        <tr>
                            <td>Passerina Chiusa Grande</td>
                            <td>3,50€</td>
                        </tr>
                        <tr>
                            <td>Pinot Grigio Dissegna BIO</td>
                            <td>3,00€</td>
                        </tr>
                        <tr>
                            <td>Agno Bianco Masari</td>
                            <td>4,50€</td>
                        </tr>
                        <tr>
                            <td>Chardonnay Gall</td>
                            <td>7,00€</td>
                        </tr>
                        <tr>
                            <td>El Blanco Serafini&amp;Vidotto</td>
                            <td>5,00€</td>
                        </tr>
                        <tr>
                            <td>Riesling Gruber Roschitz</td>
                            <td>4,50€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2 class="display-4 mt-5">Rossi</h2>
        <div class="row">
            <div class="col-12 col-sm-9 col-md-7">
                <table class="table table-hover small">
                    <tbody>
                        <tr>
                            <td>Ca’ Emo Conte Emo Capodilista</td>
                            <td>3,50€</td>
                        </tr>
                        <tr>
                            <td>Valpolicella Poesie</td>
                            <td>3,00€</td>
                        </tr>
                        <tr>
                            <td>Valpolicella Ripasso Poesie</td>
                            <td>4,00€</td>
                        </tr>
                        <tr>
                            <td>Chianti Volpaia</td>
                            <td>4,50€</td>
                        </tr>
                        <tr>
                            <td>La Massa Fattoria La massa</td>
                            <td>5,00€</td>
                        </tr>
                        <tr>
                            <td>Barbera D‘Alba Massarini</td>
                            <td>4,50€</td>
                        </tr>
                        <tr>
                            <td>Phigaia</td>
                            <td>8,00€</td>
                        </tr>
                        <tr>
                            <td>Pinot Nero Elena Walch</td>
                            <td>4,50€</td>
                        </tr>
                        <tr><td>Nero D’Avola</td><td>4,50</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="d-none d-sm-block col-sm-3 col-md-5 bg-image-cover" style="background: url('/vino-rosso.jpg');"></div>
        </div>

        <h2 class="display-4 mt-5">Long drinks</h2>
        <div class="row">
            <div class="d-none d-sm-block col-sm-3 col-md-5 bg-image-cover" style="background: url('/sex-on-the-beach.jpg');"></div>
            <div class="col-12 col-sm-9 col-md-7">
                <table class="table table-hover small">
                    <tbody>
                        <tr><td>Sex on the beach <small class="d-block text-muted">peach tree, vodka, succo di arancia, succo di cranberry</small></td><td>6,00€</td></tr>
                        <tr><td>Tequila Sunrise <small class="d-block text-muted">tequila, succo di arancia, granatina</small></td><td>6,00€</td></tr>
                        <tr><td>Cuba Libre <small class="d-block text-muted">rum, coca cola, lime</small></td><td>5,00€</td></tr>
                        <tr><td>Vodka Tonic o Lemon</td><td>5,00€</td></tr>
                        <tr><td>Gin Tonic o Lemon</td><td>5,00€</td></tr>
                        <tr><td>Screw Driver <small class="d-block text-muted">vodka, succo di arancia</small></td><td>5,00€</td></tr>
                        <tr><td>Gin Fizz <small class="d-block text-muted">gin, succo di limone, sciroppo di zucchero, soda</small></td><td>6,00€</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2 class="display-4 mt-5">Ice tea</h2>
        <div class="row">
            <div class="col-12 col-sm-9 col-md-7">
                <table class="table table-hover small">
                    <tbody>
                        <tr><td>Japanase Ice Tea <small class="d-block text-muted">vodka, rum ,gin, midori, lemon, zucchero liquido, succo di lime</small></td><td>6,00€</td></tr>
                        <tr><td>Bull Frog <small class="d-block text-muted">gin, vodka, rum, tequila, blu curaçao, zucchero, lime, redbull</small></td><td>6,00€</td></tr>
                        <tr><td>Long Island Ice Tea <small class="d-block text-muted">tequila, vodka, rum, gin, tirple sec, lime, zucchero liquido, coca cola</small></td><td>6,00€</td></tr>
                        <tr><td>Italian Ice Tea <small class="d-block text-muted">vodka, gin, rum, amaretto, succo di lime, zucchero liquido, coca cola</small></td><td>6,00€</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="d-none d-sm-block col-sm-3 col-md-5 bg-image-cover" style="background: url('/long-island.jpg');"></div>
        </div>

        <h2 class="display-4 mt-5">Pestati</h2>
        <div class="row">
            <div class="d-none d-sm-block col-sm-3 col-md-5 bg-image-cover" style="background: url('/caipiroska-fragola.jpg');"></div>
            <div class="col-12 col-sm-9 col-md-7">
                <table class="table table-hover small">
                    <tbody>
                        <tr><td>Caipiroska <small class="d-block text-muted">vodka, lime, zucchero di canna</small></td><td>6,00€</td></tr>
                        <tr><td>Caipiroska alla fragola <small class="d-block text-muted">vodka, purea di fragola fresca, lime, zucchero di canna</small></td><td>6,00€</td></tr>
                        <tr><td>Passion Caipiroska <small class="d-block text-muted">rum/vodka, frutto della passione, lime, zucchero di canna</small></td><td>6,00€</td></tr>
                        <tr><td>Dark Mojito <small class="d-block text-muted">anima nera, rum bianco, foglie di menta, lime, zucchero di canna</small></td><td>6,00€</td></tr>
                        <tr><td>Caipirinha <small class="d-block text-muted">cachaca, lime, zucchero di canna</small></td><td>6,00€</td></tr>
                        <tr><td>Mojito <small class="d-block text-muted">rum bianco, lime, foglie di menta, zucchero di canna</small></td><td>6,00€</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>